In [1]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
%matplotlib inline
print("Imported!")

Imported!

In [2]:
#start with importing the data
file = pd.read_csv("../datasets/Car_sales_missing.csv")
file = file.drop("Latest_Launch",axis=1)
file

,Manufacturer,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,Acura,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,Acura,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,Acura,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,NaN
3,Acura,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,Audi,20.397,22.255,Passenger,23.99,1.8,NaN,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,Volvo,15.245,NaN,Passenger,27.50,NaN,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,Volvo,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,Volvo,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,NaN
156,Volvo,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [3]:
#to see how many missing values We have in the dataset we use.
file.isna().sum()

Manufacturer            0
Sales_in_thousands      2
__year_resale_value    40
Vehicle_type            1
Price_in_thousands      7
Engine_size             4
Horsepower              4
Wheelbase               4
Width                   3
Length                  3
Curb_weight             5
Fuel_capacity           2
Fuel_efficiency         3
Power_perf_factor      13
dtype: int64

In [6]:
#before we convert the strings to the one hot encoder, we should fill the empty values.
file["Vehicle_type"].fillna("missing", inplace=True) # if we have string 
file["__year_resale_value"].fillna(file["__year_resale_value"].mean(),inplace=True)
file["Sales_in_thousands"].fillna(file["Sales_in_thousands"].mean(),inplace=True)
file["Price_in_thousands"].fillna(file["Price_in_thousands"].mean(),inplace=True)
file["Engine_size"].fillna(file["Engine_size"].mean(),inplace=True)
file["Horsepower"].fillna(file["Horsepower"].mean(),inplace=True)
file["Wheelbase"].fillna(file["Wheelbase"].mean(),inplace=True)
file["Width"].fillna(file["Width"].mean(),inplace=True)
file["Length"].fillna(file["Length"].mean(),inplace=True)
file["Curb_weight"].fillna(file["Curb_weight"].mean(),inplace=True)
file["Curb_weight"].fillna(file["Curb_weight"].mean(),inplace=True)
file["Fuel_capacity"].fillna(file["Fuel_capacity"].mean(),inplace=True)
file["Fuel_efficiency"].fillna(file["Fuel_efficiency"].mean(),inplace=True)
file["Power_perf_factor"].fillna(file["Power_perf_factor"].mean(),inplace=True)
file.isna().sum()

Manufacturer           0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Power_perf_factor      0
dtype: int64

In [9]:
# Now that all the variable's values are turned to 0.
# kets have a vertical split.
x = file.drop("Price_in_thousands", axis =1)
y = file["Price_in_thousands"]
x,y

(    Manufacturer  Sales_in_thousands  __year_resale_value Vehicle_type  \
 0          Acura              16.919            16.360000    Passenger
 1          Acura              39.384            19.875000    Passenger
 2          Acura              14.114            18.225000    Passenger
 3          Acura               8.588            29.725000    Passenger
 4           Audi              20.397            22.255000    Passenger
 ..           ...                 ...                  ...          ...
 152        Volvo               3.545            18.199274    Passenger
 153        Volvo              15.245            18.199274    Passenger
 154        Volvo              17.531            18.199274    Passenger
 155        Volvo               3.493            18.199274    Passenger
 156        Volvo              18.969            18.199274    Passenger

      Engine_size  Horsepower  Wheelbase  Width  Length  Curb_weight  \
 0       1.800000  140.000000      101.2   67.3   172.4        2.639
 1       3.200000  225.000000      108.1   70.3   192.9        3.517
 2       3.200000  225.000000      106.9   70.6   192.0        3.470
 3       3.500000  210.000000      114.6   71.4   196.6        3.850
 4       1.800000  185.163399      102.6   68.2   178.0        2.998
 ..           ...         ...        ...    ...     ...          ...
 152     1.900000  160.000000      100.5   67.6   176.6        3.042
 153     3.069935  168.000000      104.9   69.3   185.9        3.208
 154     2.400000  168.000000      104.9   69.3   186.2        3.259
 155     2.300000  236.000000      104.9   71.5   185.7        3.601
 156     2.900000  201.000000      109.9   72.1   189.8        3.600

      Fuel_capacity  Fuel_efficiency  Power_perf_factor
 0             13.2             28.0          58.280150
 1             17.2             25.0          91.370778
 2             17.2             26.0          77.105688
 3             18.0             22.0          91.389779
 4             16.4             27.0          62.777639
 ..             ...              ...                ...
 152           15.8             25.0          66.498812
 153           17.9             25.0          70.654495
 154           17.9             25.0          71.155978
 155           18.5             23.0          77.105688
 156           21.1             24.0          85.735655

 [157 rows x 13 columns],
 0      21.500000
 1      28.400000
 2      27.472447
 3      42.000000
 4      23.990000
          ...
 152    24.400000
 153    27.500000
 154    28.800000
 155    45.500000
 156    36.000000
 Name: Price_in_thousands, Length: 157, dtype: float64)

### Now that the missing values are filled we can now change the string to values and then divide the data horizontally.

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Manufacturer","Vehicle_type"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],
                               remainder = "passthrough")

transfromed_x = transformer.fit_transform(x)
transfromed_x

<157x44 sparse matrix of type '<class 'numpy.float64'>'
	with 2041 stored elements in Compressed Sparse Row format>

In [12]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(transfromed_x,y,test_size=0.2) #horizontal split

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7832958248598975