In [1]:
# preprocessing -> collection -> cleaning -> transforming -> splitting
# training -> model selection -> machine learning -> testing -> accuracy
# remoddeling -> better results

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import sklearn
print("Imported!!")

Imported!!

In [3]:
# collection of data -> pandas

file = pd.read_csv("./datasets/missing-data.csv")
file.head(20)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15    NaN
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
7        7       72.85     86.85    60.00       NaN  56.11
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72
11       6       86.26     80.60    74.38     87.59  77.50
12       8       97.16    103.71    72.50     93.52  63.33
13       7       91.28     83.53    81.25     99.81  92.22
14       8       84.80     89.08    44.38     16.91  35.83
15       7       93.83     95.43    88.12     80.93  90.00
16       8       84.80     89.08    47.50     16.91  53.33
17       4         NaN    102.52    38.75     86.11  49.17
18       8       55.14     81.85    75.00     56.11  62.50
19       8       93.04     82.93    79.38     83.33  91.11

In [4]:
# finding for missing values
file.isna().sum()

Prefix        0
Assignment    3
Tutorial      2
Midterm       2
TakeHome      2
Final         6
dtype: int64

In [5]:
#  look for data types

print(file.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefix      99 non-null     int64
 1   Assignment  96 non-null     float64
 2   Tutorial    97 non-null     float64
 3   Midterm     97 non-null     float64
 4   TakeHome    97 non-null     float64
 5   Final       93 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB
None

In [6]:
file

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15    NaN
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70    NaN
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [7]:
# we know that we have missing values, also we know that we have all numbers in the dataset
# removing missing values
# imputing -> filling the missing values by a number.

file = file.fillna(file.mean()) #--> filling the file data

In [8]:
file.head(20)

    Prefix  Assignment  Tutorial  Midterm    TakeHome      Final
0        5   57.140000     34.09    64.38   51.480000  52.500000
1        8   95.050000    105.49    67.50   99.070000  68.330000
2        8   83.700000     83.17    30.00   63.150000  69.244409
3        7   81.220000     96.06    49.38  105.930000  80.560000
4        8   91.320000     93.64    95.00  107.410000  73.890000
5        7   95.000000     92.58    93.12   97.780000  68.060000
6        8   95.050000    102.99    56.25   99.070000  50.000000
7        7   72.850000     86.85    60.00   80.672784  56.110000
8        8   84.260000     93.10    47.50   18.520000  50.830000
9        7   90.100000     97.55    51.25   88.890000  63.610000
10       7   80.440000     90.20    75.00   91.480000  39.720000
11       6   86.260000     80.60    74.38   87.590000  77.500000
12       8   97.160000    103.71    72.50   93.520000  63.330000
13       7   91.280000     83.53    81.25   99.810000  92.220000
14       8   84.800000     89.08    44.38   16.910000  35.830000
15       7   93.830000     95.43    88.12   80.930000  90.000000
16       8   84.800000     89.08    47.50   16.910000  53.330000
17       4   85.262083    102.52    38.75   86.110000  49.170000
18       8   55.140000     81.85    75.00   56.110000  62.500000
19       8   93.040000     82.93    79.38   83.330000  91.110000

In [9]:
file.isna().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       0
TakeHome      0
Final         0
dtype: int64

In [10]:
# training 
# vertical split -> splitting the data into features(input-> what should 
# you learn to predict the output) and labels(output-> what you want to predict)

x = file.drop("Final",axis=1)
y = file["Final"]
x

    Prefix  Assignment  Tutorial  Midterm  TakeHome
0        5       57.14     34.09    64.38     51.48
1        8       95.05    105.49    67.50     99.07
2        8       83.70     83.17    30.00     63.15
3        7       81.22     96.06    49.38    105.93
4        8       91.32     93.64    95.00    107.41
..     ...         ...       ...      ...       ...
94       8       96.73    103.71    45.00     93.52
95       7       85.34     80.54    41.25     93.70
96       8       89.94    102.77    87.50     90.74
97       7       95.60     76.13    66.25     99.81
98       8       63.40     97.37    73.12     72.78

[99 rows x 5 columns]

In [11]:
y

0     52.500000
1     68.330000
2     69.244409
3     80.560000
4     73.890000
        ...
94    61.940000
95    69.244409
96    87.780000
97    85.560000
98    77.220000
Name: Final, Length: 99, dtype: float64

In [12]:
# horizontal split -> 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [13]:
x_train

    Prefix  Assignment  Tutorial  Midterm  TakeHome
84       6       95.60     61.40    64.38     99.81
10       7       80.44     90.20    75.00     91.48
12       8       97.16    103.71    72.50     93.52
44       6       57.14     34.09    66.88     51.48
26       8       82.45     86.65    93.12     85.56
..     ...         ...       ...      ...       ...
81       7       74.29     65.70    78.75    103.52
40       6       28.14     58.51    72.50     53.70
83       4       86.86     62.64    92.50     85.19
80       8       81.22     91.95    79.38    105.93
61       8       92.02     97.76    46.25     47.22

[79 rows x 5 columns]

In [14]:
x_test

    Prefix  Assignment  Tutorial  Midterm  TakeHome
4        8       91.32     93.64    95.00    107.41
52       7       95.14     94.01    99.38    100.00
15       7       93.83     95.43    88.12     80.93
50       8       96.73     88.11    71.88     97.41
45       7       93.83     57.32    28.12     77.96
55       8       71.79    101.68    75.00     21.53
6        8       95.05    102.99    56.25     99.07
97       7       95.60     76.13    66.25     99.81
87       7       74.35     92.93    86.25     78.70
96       8       89.94    102.77    87.50     90.74
16       8       84.80     89.08    47.50     16.91
67       8       92.02    100.58    54.37     63.89
39       7       95.00     94.36    89.38    100.93
3        7       81.22     96.06    49.38    105.93
5        7       95.00     92.58    93.12     97.78
79       8       66.17     93.68    71.88     42.22
48       8       95.90     99.99    95.62    105.56
42       7       92.01    112.58    86.25     86.11
69       8       80.53     92.80    51.25     72.78
72       8       97.33    100.42    69.38    102.59

In [15]:
y_train

84    42.78
10    39.72
12    63.33
44    55.83
26    89.17
      ...
81    55.00
40    68.33
83    62.78
80    90.00
61    60.56
Name: Final, Length: 79, dtype: float64

In [16]:
y_test

4      73.89
52     95.00
15     90.00
50     65.56
45     45.56
55     49.44
6      50.00
97     85.56
87     73.89
96     87.78
16     53.33
67     63.89
39     85.00
3      80.56
5      68.06
79     61.39
48    102.22
42     83.33
69     66.67
72     83.06
Name: Final, dtype: float64

In [17]:
# training the model on training data
from sklearn.ensemble import RandomForestRegressor # just to create a model ---> this is not a part of training
model = RandomForestRegressor() # model generation  ---> we haven't used it.

In [18]:
# linear regression
from sklearn import linear_model #linear regression -> regression
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.4714705075397523

In [19]:
# NAIVE BAYES
from sklearn import naive_bayes #naive bayes -> classification
model.fit(x_train,y_train) # training the model on training data of x and y
model.score(x_test,y_test) # testing the model on testing data of x and y

0.41015238797632725

In [20]:
# SVM
from sklearn import svm #SVM -> classification
model.fit(x_train,y_train) # training the model on training data of x and y
model.score(x_test,y_test) # testing the model on testing data of x and y

0.43702763680011303

In [21]:
from sklearn.neighbors import KNeighborsRegressor # knn -> k nearest neighbours -> unsupervised learning
model.fit(x_train,y_train) # training the model on training data of x and y
model.score(x_test,y_test)

0.46822474612402876